<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.spring.skintalk.ReviewMapper">
	<!-- 상품평 작성 -->
	<insert id="insert">
		insert into ${review}
		(${reviewPno}, ${reviewContent}, ${reviewNickName}, 
		${reviewGrade}, ${reviewAge}, ${reviewGender}, ${reviewSkinType})
		values (#{reviewPno}, #{reviewContent}, #{reviewNickName},
		#{reviewGrade}, #{reviewAge}, #{reviewGender}, #{reviewSkinType})
	</insert>
	
	<!-- 상품평 보기 -->
	<select id="select_all_by_review_pno" resultType="ReviewVO">
		select * from ${review}
		where ${reviewPno} = #{reviewPno}
		order by ${reviewPno}
	</select>
	
	<!-- 상품평 수정 -->
	<update id="update">
		update ${review}
		set ${reviewContent} = #{reviewContent}, ${reviewNickName} = #{reviewNickName}
		where ${reviewNo} = #{reviewNo}
	</update>
	
	<!-- 상품평 삭제 -->
	<delete id="delete">
		delete from ${review}
		where ${reviewNo} = #{reviewNo}
	</delete>
	
	<!-- 평점 PRODUCT GRADE에 넣기 -->
	<update id="update_product_grade_by_avg_of_review_grade">
		update ${product}
		set ${grade} = (select round(avg(${reviewGrade}), 1)
						from ${review}
						where ${reviewPno} = #{reviewPno})
		where ${productNo} = (select avg(${reviewPno})
							  from ${review}
							  where ${reviewPno} = #{reviewPno})
	</update>
	
	<select id="select_count_review_pno" resultType="Integer">
		select count(${reviewPno})
		from ${review}
		where ${reviewPno} = #{reviewPno}
	</select>
	
	<update id="update_grade_reset">
		update ${product}
		set ${grade} = 0
		where ${productNo} = #{productNo}
	</update>

</mapper>











